<div id="chartContainer" style="height: 370px; width: 100%;">
</div>
<select class="custom-select">
        <option selected>Загальний аналіз крові з лейкоцитарною формулою</option>
        <option value="1">Загальний аналіз крові з лейкоцитарною формулою</option>
        <option value="2">Загальний аналіз сечі</option>
        <option value="3">Глюкоза крові</option>
        <option value="4">Загальний холестерин</option>
        <option value="5">Швидкий тест на вагітність</option>
        <option value="6">Швидкий тест на тропонін</option>
        <option value="7">Швидкий тест на ВІЛ</option>
        <option value="8">Швидкий тест на вірусні гепатити</option>
        <option value="9">Білірубін: загальний і прямий</option>
        <option value="10">Білок загальний</option>
      </select>