<h1 style="    color: #212121;
font-size: 38px;
margin-top: 0;
border-bottom: 1px solid #00879c;
padding-bottom: 2%;
margin-bottom: 21px;
margin: .67em 0;
    font-family: 'Univers';
    font-weight: 400;">Консолідований інформаційний ресурс для аналізу ринку надання послуг медичними лабораторіями України</h1>

<div style="float: left;
padding-right: 3.33333%;
background-color: #fff;
margin-bottom: 15px;
max-width: 667px;
display:block;">
    <img src="../../assets/analiz-rynka-medicinskih-laboratornyh-uslug.png">
</div>
<p>Незважаючи на наявні проблеми, ринок приватних лабораторних послуг в Україні має досить високу динаміку розвитку. З'явившись на початку 2000-х, за останні десять років його обсяг збільшився в грошовому вираженні в 4-5 разів. Основними каталізаторами зростання
    стали збільшення купівельної спроможності українців і поступова деградація державних і комунальних лабораторій. Організувати сучасну лабораторію в Україні коштує від 0,5 до 5 мільйонів доларів США, а такі суми в даний час може інвестувати тільки приватний
    сектор. Крім обладнання, необхідні ще і кваліфікований і, відповідно, високооплачуваний персонал для правильної інтерпретації отриманих даних. Результати проведеного аналізу ринку медичних лабораторних послуг в Україні дозволяють прогнозувати подальший
    розвиток його приватного сегмента в разі продовження позитивних процесів в економіці країни і збільшення охоплення населення медичним страхуванням. Основним трендом такого розвитку стане відмова медичних установи від власних неефективних лабораторій
    і віддача їх послуг на аутсорсинг великим приватним лабораторіям, відповідним міжнародним стандартам.</p>
<p>Без здачі аналізів, як мінімум крові, сьогодні не обходиться жодна більш-менш серйозна консультація з лікарем. При цьому у пацієнтів виникає дилема - куди звернутися за наданням відповідних послуг: в лабораторію державного медзакладу з, як правило, застарілим
    обладнанням або в приватну лабораторію, з сучасним обладнанням, але високими цінами. Особливо це стосується 12-ти аналізів, які повинні входити в пакет безкоштовних послуг, передбачених в Україні медичною реформою. Усунути проблему вибору лабораторії
    і дати додатковий поштовх розвитку відповідного ринку могло б загальне поширення медичного страхування, але поки до цього ще далеко. Сьогодні медичну страховку мають в основному співробітники компаній, де вона входить до складу соціального пакету,
    а покриває ця страховка в середньому 20-25% витрат на медпослуги. У 2018 році виплати за медичними страховками в Україні склали 26 млн доларів, роком раніше - 20,6 млн доларів. Такі суми не можуть істотно вплинути на ринок лабораторних послуг, адже
    в країні налічується понад 5 тис. медлабораторій як приватних, так і державних.</p>