<div id="chartContainer" style="height: 370px; width: 100%;">
</div>
<select class="custom-select">
       
        <option value="1">Артмедиуз</option>
        <option value="2">Дніпролаб</option>
        <option value="3">ДНК Центр</option>
        <option value="4">Загальний холестерин</option>
        <option value="5">Иммуно-Тест</option>
        <option value="6">Оптима Фарм</option>
        <option  value="7">НИКОЛАБ</option>
        <option value="8">Эввива</option>
        <option value="9">ДАД Гіппократ</option>
        <option value="11">Мед-онлайн</option>
        <option selected value="12">Синэво</option>
        <option value="13">НеоЛаб</option>
        <option value="14">Новая диагностика</option>
        <option value="15">CSD Health Care</option>
        <option value="16">Оберіг</option>
        <option value="17">ИНВИТРО</option>
        <option value="18">IQLab</option>
        <option value="19">MedLab</option>
        <option value="20">Modern Diabetes Center</option>
      </select>